<% content_for :header_style do %>
  <link rel="stylesheet" type="text/css" href="/sign_up_in.css">
<% end %>


<%= form_for(@user) do |f| %>

  <div class="cont main">
    <div class="stuff">
      <div class="btn">
        <div class="title signup open">Sign Up</div>
        <div class="form">
          <form>
            <table>
              <tr>
                <td>
                  <%= f.label :name %>
                </td>

                <td> 
                  <%= f.text_field :name %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= f.label :email %><br />
                
                </td>

                <td>
                  <%= f.email_field :email, autofocus: true %>
                </td>
                
              </tr>
              <tr>
                <td>
                  <%= f.label :password %>
                </td>
                <td>
                  <%= f.password_field :password %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= f.label :password_confirmation %><br />
                </td>
                <td>
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </td>
              </tr>
            </table>
            <%= f.submit "Sign up" %>
          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>
