<link rel="stylesheet" type="text/css" href="/user_profile.css">


<div class="cont main">
  <div class="profile_bg">
    <!-- Handicon image -->
    <% if current_user == @user  %>
      <%= render 'handshake_icon' %>
    <% end %>


    <div class="profile_pic"><%= gravatar_for @user, 190 %></div>
  </div>
  <div class="about">
    <div class="stats">
      <div class="credibility">
        <div class="num"><%= @credibility.points %></div>
        <div class="title">Credibility</div>
      </div>
      <div class="handshakes">
      <% handshakes = @user.handshakes.count + @user.inverse_handshakes.count %>
        <div class="num"><%= handshakes %></div>
        <div class="title"><%= handshakes == 1 ? "Handshake": "Handshakes" %></div>
      </div>
      <div class="divider"></div>
      <div class="all_tokens">
        <div class="num"><%= @user.tokens_received.count%></div>
        <div class="title">Tokens</div>
      </div>
      <% unless current_user? @user %>
        <div class="last_active">
          <div class="num"><%= Time.now.min - @user.last_seen.min %>m</div>
          <div class="title">Last Seen</div>
        </div>
      <% end %>
    </div>
    <div class="name_sect">
      <div class="name">
        <div class="line"></div>
        <div class="text"><%= @user.name %></div>
      </div>
    </div>



    <div class="two_columns">
      <div class="left">
      <% token_data = @user.passive_connections.group_by { |e| e.word_token.label }.sort_by {|k,v| v.size}.reverse %>

        <h3>Tokens</h3>
        <div class="no_token_msg hide">Welcome, Your WordTokens will show up here. Get your friends to connect with you.</div>
        <div class="tokens">
        <% token_data.each do |e| %> 
          <div class="token">
            <div class="tag">
              <div class="word"><%= e.first %></div>
              <span class="times">x</span>
              <span class="num"><%= e[1].count %></span>
            </div>

            <div class="people">
           <% e[1].each do |e| %>
              <div class="person"><%= link_to gravatar_for(e.giver, 50), e.giver %></div>
          <% end %>
            </div>
          </div>
        <% end %>
        </div>






        <div class="show_more">
          Show More
        </div>

        <div class="handshakers">
          <h3>HandShakes</h3>
          <% total_handshakes_users = @user.handshakes.map {|x| x.connection } + @user.inverse_handshakes.map {|x| x.user } %>
          <% total_handshakes_users.each do |x| %>
            <div class="person"><%= link_to( ( gravatar_for(x,35) ) + x.name, x) %></div>
          <% end %>
        </div>


      </div>
      <div class="right">


        <div class="buttons">
          <%= render 'request_form' %>
        </div>

        <div class="notable">
          <div class="title">Notable Givers</div>
          <% notable_users = @user.passive_connections.group_by(&:giver).keys.sort_by { |x| x.credibility_systems.first.points }.reverse[0..9] %>
          <% notable_users.each do |user|%>
            <%= link_to(user) do %>
              <div class="person">
                <div class="img"><%= gravatar_for(user,40) %></div>
                <div class="info"> 
                  <span class="name"><%= user.name %></span>
                  <span class="credibility"><%= user.credibility_systems.first.points %></span>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="to_top">
  <div class="line"></div>
  <div class="box">Go to Top</div>
</div>


<div class="token_box">
  <div class="dialog">
    <div class="title">
      Give <span><%= @user.name %></span> A Token
    </div>
    <div class="box">
      <%= render 'transfer_token_form' %>
    </div>
  </div>
</div>

<div class="notification_box">
  <div class="dialog">
<% current_user.inverse_requests.each do |req| %>

  <% @req = req %>
    <div class="user"> 
      <div class="img"><%= link_to (gravatar_for @req.user, 35 ), @req.user %></div>
      <div class="name"><%= link_to req.user.name, @req.user %></div>
      
      <div class="btns">

        <div class="accept"><%= render 'accept_form' %></div>
        <div class="decline"><%= render 'decline_form' %></div>

      </div>
    </div>
<% end %>
  </div>
</div>

<script src="/user_profile.js"></script>


