
<% content_for :header_style do %>
  <link rel="stylesheet" type="text/css" href="main.css">
<% end %>


<div class="cont main">
  <div class="hero">
    <div class="text">
      <div class="rotated">
        WordToken is a Network for Credibility. The simple solution that provides Trust & Legitimacy for the internet.
      </div>
    </div>



    <div class="search">
      <input id= 'search_input_box' type="text" placeholder='Find Someone' />
<!--     <%= form_tag users_path, :method => :get do %>

      <%= text_field_tag :search, params[:search], id: 'search_input_box' %>
      
    <% end %> -->
    <div class="suggestions hide">
      <!-- <div class="user">
        <a href="#">
          <div class="img"></div>
          <div class="name">Test</div>
        </a>
      </div> -->
      <div class="no_user hide">No Users found</div>
    </div>
    </div>

    

    <div class="action">
      <div class="circle">
        <% if user_signed_in? %>
        <%= link_to "Let's Trust", current_user %>
      <% else %>
        <%= link_to "Let's Trust", signup_path %>
      <% end %>
      </div>
    </div>
  </div>

    <%= link_to(user_signed_in? ? users_path : login_path, class: 'no_underline recent_parent') do %>
      <div class="view_recent">View Recent Users</div>
    <% end %>

  <div class="features">
    <div class="feature">
      <div class="img">
        <img src="http://cdn.flaticon.com/svg/32/32441.svg" />
      </div>
      <div class="text">
        <div class="title">Develop a Reputable Network</div>
  <!--       <div class="desc">Every user has crediblity, some more than others. Higher reputation of a user indicates that they are well known for their qualities and connected. Crediblity per token rises if Person vouching has high crediblity. Crediblity is a good indicator of person's integerity and skills.</div> -->

        <div class="desc">Every user has credibility modelled through a fixed and weighted point system. Our 'trust algorithm' allows users to accumulate credibility points by receiving vouches for their credentials and establishing associations with reputable members of the WordToken network. </div>
      </div>
    </div>
    <div class="feature">
      <div class="img">
        <img src="http://cdn.flaticon.com/svg/46/46749.svg" />
      </div>
      <div class="text">
        <div class="title">Vouch by Awarding WordTokens</div>
        <div class="desc">Award other Word Tokens that demonstrate their skill or quality. Each WordToken contributes to crediblity. Word Tokens is social way to pass information about a person to others. </div>

        <div>WordTokens have value, based on 10% of a users credibiity points.  ofAward users you find credible with WordTokens to </div>
      </div>
    </div>
    <div class="feature">
      <div class="img">
        <img src="http://cdn.flaticon.com/svg/46/46778.svg" />
      </div>
      <div class="text">
        <div class="title">Connect with People and Organizations</div>
        <div class="desc">The Handshake feature allows you to highlight certain connections better than others to the world. It's best way to show how strong your connection is with certain people.</div>
      </div>
    </div>
    <div class="feature">
      <div class="img">
        <img src="http://cdn.flaticon.com/svg/71/71424.svg" />
      </div>
      <div class="text">
        <div class="title">Find the Best</div>
        <div class="desc">Network, connect and find people with certain qualities and skills on WordToken. Relying on platform of trust you can fine tune your search and find the very perfect people.</div>
      </div>
    </div>
  </div>
</div>
<div class="to_top">
  <div class="line"></div>
  <div class="box">Go to Top</div>
</div>
<script src="/main.js"></script>