 <header class='cont'>
  <div class="logo"><%= link_to 'WordToken', root_path %></li> «</div>
  <% if user_signed_in? %>
	  <nav class='nav'>
	    <ul>
	      <li><%= link_to 'Home', root_path %></li>
	      <li><%= link_to 'Map', root_path %></li>
	      <li class='profile_btn'><%= link_to 'Profile', user_path(current_user) %>
	      <% if current_user.inverse_requests.count > 0 %>
			<div class='noti_circle'><%= current_user.inverse_requests.count %></div>
		 <% end %>
	      </li>
	      <li><%= link_to 'Log Out', logout_path, :method => :delete %></li>
	    </ul>
	  </nav>
	<% else %>
	  <nav class='nav'>
	    <ul>
	      <li><%= link_to 'Home', root_path %></li>
	      <li><%= link_to 'Signup', signup_path %></li>
	      <li><%= link_to 'Login', login_path %></li>
	    </ul>
	  </nav>

  <% end %>
</header>